
@model string;


    <div style="position: fixed; z-index: 1; right:25px; bottom: 65px;" class="text-white">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success float-right">
            <i class="bi bi-plus-circle"></i>Add New
        </a>
    </div>
